################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
3CXStatusWebApi/bin/Debug
3CXStatusWebApi/obj
3CXStatusWebApi/3cxpscomcpp2.dll
