################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
**/bin/
**/obj/
**/*.user
**/TestResults/
3CXStatusWebApi/3cxpscomcpp2.dll
3CXStatusWebApi/3CXPhoneSystem.ini
